{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login_modal.css' %}">
{% endblock %}

{% block page_content %}
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form action="{% url 'login' %}"" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="id_username">Username</label>
						<input type="text" class="form-control" required="required" name="username" id="id_username">
					</div>
					<div class="form-group">
						<!--<div class="clearfix"><a href="#" class="pull-right text-muted"><small>Forgot?</small></a></div>-->
						<div>
							<td><label for="id_password">Password</label></td>
							<td><input id="id_password" name="password" type="password"  required="required" class="form-control"></td>
						</div>
					</div>
					{% if errors %}
					<p class=" label label-danger">
							Your username and password didn't match.
							Please try again.
					</p>
					{% endif %}
				</div>
				<div class="modal-footer">
					<!--<label class="checkbox-inline pull-left"><input type="checkbox"> Remember me</label>-->
					<input type="submit" class="btn btn-primary pull-right" value="Login">
				</div>
				<input type="hidden" name="next" value="{{ next }}" />

			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>

{% endblock %}
