{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'kanban/kanban.css' %}">
<style>
    #align-text-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }

  .dropdown-menu > form > button:hover {
      background-color: lightgray;
      background-image: none;
      cursor: pointer;
  }
  .dropdown-menu > form {
    margin-bottom: 0 !important;
  }

  input[readonly] {
    background-color:transparent !important;;
      border: 1 !important;
  }

</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'kanban/kanban.js' %}"></script>

{% endblock %}

{% block page_content %}

<div class="container-fluid pt-3">
  <div class="d-flex justify-content-between">
        <!-- Sorting-->
        <div class="mx-auto">
          <h3 class="font-weight-light">Manage your progress </h3>
        </div>
        <div class="d-flex justify-content-between">
          <div>
             <a class="btn btn-secondary dropdown-toggle" style="width: 80px !important;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ selected_year }}
             </a>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               {% now "Y" as current_year %}
               {% with start=current_year|add:"-5" end=current_year|add:"+10"%}
               {% with ''|center:end as range %}<!-- Get a range from 0 to end -->
               <!-- Skip all years smaller then start ... -->
               {% for _ in range %}
                   {% if forloop.counter < start %}
                   {% else %}
                    <form action="{% url 'capacities:capacities_set_year' %}" method="POST"><input type="hidden" name="year" value="{{forloop.counter}}">{% csrf_token %}<button type="submit" class="dropdown-item">{{ forloop.counter }}</button></form>
                   {% endif %}
               {% endfor %}
               {% endwith %}
               {% endwith %}
             </div>
           </div>
         <div>&nbsp;</div>
         <div>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selected_person }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for person in persons %}
                <form action="{% url 'capacities:capacities_set_person' %}" method="POST"><input type="hidden" name="person_id" value="{{person.id}}">{% csrf_token %}<button type="submit" class="dropdown-item">{{ person }}</button></form>
              {% endfor %}
            </div>
          </div>
       </div>
   </div>

  <div class="container-fluid pt-3">
      <div class="row flex-row flex-sm-nowrap py-3">

      <!-- Start of column -->
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div id="planned" class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2"> Project is planned </h6>
                    <div class="items border border-light">
                      <!-- Dropzone of column -->
                      <div>
                        <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of column dropzone -->

                      {% for research_project in planned %}
                      <!-- Item on the board-->
                      <div draggable="true" ondragstart="drag(event)" id="{{research_project.pk}}" width="88" height="31"><!-- Id specified here -->
                          <div class="card shadow-sm" style="cursor: grab;">
                              <div class="card-body p-2">
                                  <div class="card-title">
                                      <img src="" class="rounded-circle float-right">
                                      <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="lead font-weight-light"> {{research_project.title}} </a>
                                  </div>
                                  <p>
                                      {{research_project.short_description}}
                                  </p>
                                  <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="btn btn-primary btn-sm">more &raquo;</a>
                              </div>
                          </div>
                          <!-- Every item has a dropzone such that other items can be dropped after each item: -->
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of item on the board-->
                      {% endfor %}

                  </div>
              </div>
          </div>
      </div>
      <!-- End of column -->

      <!-- Start of column -->
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div id="started" class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2"> Work has started </h6>
                    <div class="items border border-light">
                      <!-- Dropzone of column -->
                      <div>
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of column dropzone -->

                      {% for research_project in started %}
                      <!-- Item on the board-->
                      <div draggable="true" ondragstart="drag(event)" id="{{research_project.pk}}" width="88" height="31"><!-- Id specified here -->
                          <div class="card shadow-sm" style="cursor: grab;">
                              <div class="card-body p-2">
                                  <div class="card-title">
                                      <img src="" class="rounded-circle float-right">
                                      <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="lead font-weight-light"> {{research_project.title}} </a>
                                  </div>
                                  <p>
                                      {{research_project.short_description}}
                                  </p>
                                  <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="btn btn-primary btn-sm">more &raquo;</a>
                              </div>
                          </div>
                          <!-- Every item has a dropzone such that other items can be dropped after each item: -->
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of item on the board-->
                      {% endfor %}

                  </div>
              </div>
          </div>
      </div>
      <!-- End of column -->

      <!-- Start of column -->
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div id="modeling_complete" class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2"> Implementation complete </h6>
                    <div class="items border border-light">
                      <!-- Dropzone of column -->
                      <div>
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of column dropzone -->

                      {% for research_project in modeling_complete %}
                      <!-- Item on the board-->
                      <div draggable="true" ondragstart="drag(event)" id="{{research_project.pk}}" width="88" height="31"><!-- Id specified here -->
                          <div class="card shadow-sm" style="cursor: grab;">
                              <div class="card-body p-2">
                                  <div class="card-title">
                                      <img src="" class="rounded-circle float-right">
                                      <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="lead font-weight-light"> {{research_project.title}} </a>
                                  </div>
                                  <p>
                                      {{research_project.short_description}}
                                  </p>
                                  <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="btn btn-primary btn-sm">more &raquo;</a>
                              </div>
                          </div>
                          <!-- Every item has a dropzone such that other items can be dropped after each item: -->
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of item on the board-->
                      {% endfor %}

                  </div>
              </div>
          </div>
      </div>
      <!-- End of column -->

      <!-- Start of column -->
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div id="report_finished" class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2"> Report finished </h6>
                    <div class="items border border-light">
                      <!-- Dropzone of column -->
                      <div>
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of column dropzone -->


                      {% for research_project in report_finished %}
                      <!-- Item on the board-->
                      <div draggable="true" ondragstart="drag(event)" id="{{research_project.pk}}" width="88" height="31"><!-- Id specified here -->
                          <div class="card shadow-sm" style="cursor: grab;">
                              <div class="card-body p-2">
                                  <div class="card-title">
                                      <img src="" class="rounded-circle float-right">
                                      <a href="" class="lead font-weight-light"> {{research_project.title}} </a>
                                  </div>
                                  <p>
                                      {{research_project.short_description}}
                                  </p>
                                  <a href="{% url 'projects:edit1' pk=research_project.pk %}" class="btn btn-primary btn-sm">more &raquo;</a>
                              </div>
                          </div>
                          <!-- Every item has a dropzone such that other items can be dropped after each item: -->
                          <div class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"></div>
                      </div>
                      <!-- End of item on the board-->
                      {% endfor %}

                  </div>
              </div>
          </div>
      </div>
      <!-- End of column -->
    </div>
  </div>
</div>

{% endblock %}
