{% extends "base.html" %}

{% block page_content %}
<style>
.tabinator .tablabel {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: 15px;

}

.tabinator .checked {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #939393;
}
.tab-content{
  padding: 0px 0px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 5px #939393;
}

.tab-content label{
  color: black;
}

.tabinator .checked:before {
  content:'';
  display:block;
  width:100%;
  height:5px;
  background-color: rgb(255,255,255);
  position:absolute;
  left:1px;
  bottom:-5px;
  z-index:10;
}
</style>
<br>
<div class = "tabinator">
  <div class="row">
  {% block tabs %}{% endblock %}
  </div>
  <div class="tab-content"> <br>{% block tab_content %}{% endblock %} </div>

</div>

{% endblock %}
