{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
    #align-text-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }

  .dropdown-menu > form > button:hover{
      background-color: lightgray;
      background-image: none;
      cursor: pointer;
  }

  .dropdown-menu > a {
    text-decoration: none;
  }

  .dropdown-menu > a > button:hover {
    background-color: lightgray;
    background-image: none;
    cursor: pointer;
  }


  .dropdown-menu > form {
    margin-bottom: 0 !important;
  }

  input[readonly] {
    background-color:transparent !important;;
      border: 1 !important;
  }

</style>

{% endblock %}
{% block scripts %}
{% endblock %}
{% block page_content %}


<div class="container-fluid pt-3">
  <div class="d-flex justify-content-between">
        <!-- Sorting-->
        <div>
          <h3 class="font-weight-normal"> &nbsp; <b> Capacities / Workload of group members in {{ selected_year }} [%]</b> </h3>
        </div>
        <div class="d-flex justify-content-between">
          <div>
             <a class="btn btn-secondary dropdown-toggle" style="width: 80px !important;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ selected_year }}
             </a>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               {% now "Y" as current_year %}
               {% with start=current_year|add:"-5" end=current_year|add:"+10"%}
               {% with ''|center:end as range %}<!-- Get a range from 0 to end -->
               {% for _ in range %}
                   {% if forloop.counter < start %}<!-- Skip all years smaller then start -->
                   {% else %}
                    <form action="{% url 'capacities:capacities_set_year' %}" method="POST"><input type="hidden" name="year" value="{{forloop.counter}}">{% csrf_token %}<button type="submit" class="dropdown-item">{{ forloop.counter }}</button></form>
                   {% endif %}
               {% endfor %}
               {% endwith %}
               {% endwith %}
             </div>
           </div>
         <div>&nbsp;</div>
         <div>
            <a type="button" class="btn btn-secondary" href="{% url 'capacities:capacities' %}"> Individual workloads </a>
          </div>
       </div>
   </div>

   <br style ="line-height:10px;">


  <form id ="capacity-table" style="font-weight: 0.1em;">
        {% csrf_token %}
        <table class="table table-sm" style="width: 100%;">
            <tr>
              <thead class="thead-light">
                <tr>
                  <th>  </th>
                  <th> Jan </th>
                  <th> Feb </th>
                  <th> Mar </th>
                  <th> Apr </th>
                  <th> May </th>
                  <th> Jun </th>
                  <th> Jul </th>
                  <th> Aug </th>
                  <th> Sep </th>
                  <th> Oct </th>
                  <th> Nov </th>
                  <th> Dec </th>
                  <th><i class="fa fa-cogs mr-3 fa-fw"></i></th>
                </tr>
            </thead>
            <tbody>
                  {% for person, per_month in person_workload.items %}
                  <tr>
                    <td> {{ person|safe }} </td>
                    {% for column in per_month %}
                      <td> <input type="number" class="form-control" name="workload_jan" value="{{ column }}" min="0" id="" readonly> </td>
                    {% endfor %}
                    <td> <a href="{% url 'users:user_edit2' pk=person.pk year=selected_year %}"><i class="fa fa-edit text-primary mr-3 fa-fw"></i></a></td><!-- TODO -->
                  </tr>
                  {% endfor %}
            </tbody>
        </table>
  </form>
</div>
{% endblock %}
