{% load static %}
<html>
<head>

<link rel="stylesheet" type="text/css" href="static/landing_page/horizontal_navbar.css'}">
<link rel="stylesheet" type="text/css" href="static/landing_page/vertical_navbar.css' %}">
<style>    body {zoom: 1.0;}</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">


{% block css  %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
{% block scripts %}
{% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand navbar-custom fixed-top py-0">
        <div class="w-100">
          <a href="/">
            <ul class="navbar-nav mr-auto">
               <img src={% static 'basf_logo.jpg' %} alt="BASF" height="40" width="140">
            </ul>
          </a>
        </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                  {% if user.is_authenticated %}
                  <nobr><a class="nav-link" href="{% url 'logout' %}" > logout {{ request.user.username }} </a></nobr>
                  {% else %}
                    {% if next %}
                    <a class="nav-link" href="{% url 'login_page' %}?next={{next}}" > login </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login_page' %}?next=/projects/list/" > login </a>
                    {% endif %}
                  {% endif %}
                </li>
            </ul>

    </nav>
  <!-- Navbar vertical begin-->
  <div class="vertical-nav" id="sidebar">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"><br> Projects </p>
    <ul class="nav flex-column bg-gray mb-0">
      <li class="nav-item">
        <a href={% url 'projects:project-list' %} class="nav-link text-dark font-italic">
                  <i class="fa fa-product-hunt mr-3 text-primary fa-fw"></i>
                  Project administration
              </a>
      </li>
      <li class="nav-item">
        <a href={% url 'kanban:kanban' %} class="nav-link text-dark font-italic">
                  <i class="fa fa-columns mr-3 text-primary fa-fw"></i>
                  Kanban board
              </a>
      </li>

      <li class="nav-item">
        <a href={% url 'capacities:capacities' %} class="nav-link text-dark font-italic">
                  <i class="fa fa-table mr-3 text-primary fa-fw"></i>
                  Capacity table
              </a>
      </li>

      <li class="nav-item">
        <a href={% url 'capacities:burndown' %} class="nav-link text-dark font-italic">
                  <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                  Burndown graph
              </a>
      </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"><br> Reports </p>
    <ul class="nav flex-column bg-gray mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-plus-square mr-3 text-primary fa-fw"></i>
                  Add new report
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-search-plus mr-3 text-primary fa-fw"></i>
                  Explore reports
              </a>
      </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"><br> Users </p>
    <ul class="nav flex-column bg-gray mb-0">
      <li class="nav-item">
        <a href={% url 'users:user_list' %} class="nav-link text-dark font-italic">
                  <i class="fa fa-user mr-3 text-primary fa-fw"></i>
                  Users & settings
              </a>
      </li>
    </ul>

  </div>
  <!-- End vertical navbar -->


  <!-- Page content holder -->
  <div class="page-content p-5" id="content">
  {% block page_content %}{% endblock %}
  </div>

  <!-- End demo content -->


</body>

</html>
