<!--books/templates/books/book-create.html-->
{% extends "tabs.html" %}

{% block tabs%}
<a href="/users/edit1/{{person.pk}}"><label class="tablabel checked"> Personal information </label></a>
<a href="/users/edit2/{{person.pk}}/{% now "Y" %}"><label class="tablabel"> Work Time Model </label></a>

{% endblock %}
{% block tab_content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
  <h4 style="text-align: center;"> Personal information for {{person}}</h4>
  <br>

  <form action="/users/edit1/{{person.pk}}/" method="POST" style="font-weight: 0.1em;">
        {% csrf_token %}

        <div class="row">
            <div class="col-6"><!--left side -->
            {% for field in form %}
            {{ field| as_crispy_field }}
              {% if forloop.counter == 6 %}
            </div>
            <div class="col-6">
              {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">save updates</button>
          </div>
    </form>
</div>
{% endblock %}
