<!--books/templates/books/book-create.html-->
{% extends "tabs.html" %}
{% load static %}

{% block tabs%}
<a href="{% url 'projects:edit1' pk=pk %}"><label class="checked tablabel"> General Project Information </label></a>
<a href="{% url 'projects:edit2' pk=pk %}"><label class="tablabel"> Additional Information </label></a>
<a href="{% url 'projects:edit3' pk=pk year=current_year %}"><label class="tablabel"> Monthly workload </label></a>

{% endblock %}
{% block tab_content %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/autocomplete_dropdown.css' %}">
{% endblock %}

<div class="container-fluid">
  <form action="{% url 'projects:edit1' pk=pk %}" method="POST" style="font-weight: 0.1em;"  autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-6"><!--left side -->
            {% for field in form %}
            {{ field| as_crispy_field }}
              {% if forloop.counter == 7 %}
            </div>
            <div class="col-6">
              {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">save</button>
          </div>
    </form>
</div>

<script type="text/javascript" src="{% static 'projects/autocomplete_dropdown.js' %}"></script>

{% endblock %}
