<!--books/templates/books/book-create.html-->
{% extends "tabs.html" %}

{% block tabs%}
<a href="{% url 'projects:edit1' pk=research_project.pk %}"><label class="tablabel"> General Project Information </label></a>
<a href="{% url 'projects:edit2' pk=research_project.pk %}"><label class="tablabel"> Additional Information </label></a>
<a href="{% url 'projects:edit3' pk=research_project.pk year=current_year %}"><label class="tablabel checked"> Monthly workload </label></a>

{% endblock %}
{% block tab_content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
  <h4 style="text-align: center;"> Your personal workload for this project in {{year}}</h4>
  <br>

  <form action="{% url 'projects:edit3' pk=research_project.pk year=current_year %}" method="POST" style="font-weight: 0.1em;">
        {% csrf_token %}
        <div id="div_id_budget_share" class="form-group">
                 <label for="id_budget_share" class=" requiredField">
                     Your personal share of the project budget <span class="asteriskField">*</span>
                 </label>
                     <div class="">
                         <input type="number" name="budget_share" value="{{budget_share}}" min="0" max="{{maximal_budget}}" class="numberinput form-control" required="" id="id_budget_share">
                     </div>
         </div>

        <div class="row">
            <div class="col-6"><!--left side -->
            {% for field in form %}
            {{ field| as_crispy_field }}
              {% if forloop.counter == 6 %}
            </div>
            <div class="col-6">
              {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">save</button>
        </form>
        {% if yearly_workload %}
        <form action="{% url 'projects:delete_workload' pk=yearly_workload.pk %}" method="POST" style="display:inline;">{% csrf_token %}<button type="submit" class="btn btn-primary">reset</button></form>
        {% endif %}
      </div>
</div>

<hr>
  <div class="d-flex justify-content-between">
      <div>
      <a href="{% url 'projects:edit3' pk=research_project.pk year=previous_year %}"> Previous year </a></div>
      <div class="text-primary">Workload for {{year}}</div>
      <div>
      <a href="{% url 'projects:edit3' pk=research_project.pk year=next_year %}"> Next year </a></div>
    </div>
{% endblock %}
